<div class="messages">
<p><%= params[:answer]  %></p>
<p> -You</p>
</div>
<div class="messages">
<p><%= @answer %></p>
<p>- Your coach</p>
</div>
<%= link_to "Wan't to ask another question", 'ask', class: "btn"%>
