// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.button{
  border-radius: 16px;
  width: 20%;
  margin-left: 1rem;
  background-color: grey;
}
input{
  width:100%

}
form{
  display:flex
}
